.programs {
    margin: 80px auto;
    width: 90%;
    text-align: center; /* Center text for the title */
}

.programs h2 {
    font-weight: bold;
}

.program-container {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    margin-top: 20px; /* Add margin for spacing */
}

.program {
    flex: 0 0 23%; /* Make each program take 23% of the container width */
    margin: 0 1%; /* Add horizontal spacing */
    position: relative;
}

.program img {
    width: 100%;
    height: 250px; /* Set a fixed height for all images */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    border-radius: 10px;
    display: block;
}

.caption {
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background: rgba(0, 15, 152, 0.7); /* Adjust opacity for better readability */
    padding: 10px;
    margin-top: 10px; /* Add margin for spacing below the image */
}

/* media query */
@media (max-width: 650px) {
    .program-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    .program {
        flex-basis: 100%; /* Each program takes full width */
        margin: 10px 0; /* Vertical spacing */
    }
}
