.contact {
    margin: 90px auto 30px;   
    max-width: 100%;
    display: flex;  
    background-color: #094c3b;
    align-content:center;/* Align items to the start to keep both columns aligned */
    justify-content: space-between; /* Space between columns */
}

.contact-h2 {
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 3.5rem;
    font-weight:700;
}


.contact-col {
    flex-basis: 48%; /* Each column will take up to 48% of the width */
    color: white;
    padding-left: 10px;
}


.contact .contact-col h3{
    margin-bottom: 20px;
}

.contact-col form  label{
    color:black;
}


.contact-col h3 {
   
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-col p {
    color:white;
    font-size:1.2rem;
    max-width: 450px;
    line-height: 1.3; /* Adjust line-height for better readability */
    /* margin-bottom: 20px;  */
}

.contact-col ul li {
    display: flex;
    
    font-size: 1.2rem;;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li i {
    width: 4rem;
    height:4rem;
    /* background: transparent;     */
    color:white ;
    margin-right: 10px;
    padding:.5rem;
    border: 2px solid var(--main-color);
    border-radius: 50%; 
    transition: 0.5 ease;
    display: flex;               /* Enable flexbox */
    justify-content: center;     /* Center horizontally */
    align-items: center; 
    
}




.contact-col ul li i:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow:0 0 1rem var(--main-color);

}


/* Form styling */


.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    background: #EBECFE;
    /* padding: 15px; */
    border: 0;
    outline: 0;
    /* margin-bottom: 2px; 
    margin-top: 2px;  */
    resize: none; 
}


.contact form label{
    font-size: 1rem;
    color:black;
}
 .contact-col .my-contact-btn {
    display: flex; 
    background-color: #ff521a;
    width:150px;               
    align-items: center;  
    border-radius: 30px;        
    gap: 5px;                     
}

 .contact-col .my-contact-btn img {
    width: 19px;                  
    /* height: auto;                  */
}

.contact-col span {
    display: block;
    margin: 20px 0;
    font-size: 15px;
}


@media (max-width: 700px) {
    .contact {
        display: block; 
    }

    .contact-col {
        padding: 20px; 
        flex-basis: 100%; 
    }
}
